{% extends '_layouts/in_event.html.twig' %}

{% block title %}Niveau {{ event.level.sequenceNumber }} : {{ event.eventType.value }} {{ event.sequenceNumber }} | EcoloCoach{% endblock %}

{% block content %}

    {% include 'event/_event_components/_header.html.twig' %}

    {% set is_question_page = false %}
    {% for part in event_parts %}
        {% if part.eventPartType.name == 'ANSWER' and part.answers is not null %}
            {% set is_question_page = true %}
        {% endif %}
    {% endfor %}

    {% include 'event/_event_components/_answer_feedback.html.twig' %}

    {% if is_question_page and event.eventType.name == 'LESSON' %}
        <form method="POST" action="{{ path('event', {'uid': event.uid, 'pageNumber': page_number + 1}) }}">
    {% endif %}

    {% for part in event_parts %}
        {% if part.eventPartType.name == 'PICTURE' %}
            <img src="/{{ part.picturePath }}" alt="Illustration du cours">
        {% endif %}

        {% if part.eventPartType.name == 'QUESTION' %}
            <p>{{ part.question }}</p>
        {% endif %}

        {% if part.eventPartType.name == 'ANSWER' %}
            <input type="hidden" name="selected_answer" id="selected-answer-input" required>
            {% for answer in part.answers %}
                <button type="button" class="btn-answer" data-value="{{ answer }}">{{ answer }}</button>
            {% endfor %}
        {% endif %}

        {% if part.eventPartType.name == 'TAG' %}
            <p>{{ part.tag }}</p>
        {% endif %}

        {% if part.eventPartType.name == 'LABEL' %}
            <p>{{ part.label }}</p>
        {% endif %}

        {% if part.eventPartType.name == 'DESCRIPTION' %}
            <p>{{ part.description }}</p>
        {% endif %}

        {% if part.eventPartType.name == 'SUBTITLE' %}
            <p>{{ part.label }}</p>
        {% endif %}

        {% if part.eventPartType.name == 'SUBDESCRIPTION' %}
            <p>{{ part.description }}</p>
        {% endif %}

    {% endfor %}

    {% if event.eventType.name == 'LESSON' %}
        {% include 'event/_event_components/_lesson_navigation.html.twig' %}
    {% else %}
        {% include 'event/_event_components/_challenge_actions.html.twig' %}
    {% endif %}

    {% if is_question_page %}
        </form>
    {% endif %}

{% endblock %}
