{% extends '_layouts/in_event.html.twig' %}

{% block title %}Niveau {{ event.level.sequenceNumber}} : {{ event.eventType.value }} {{ event.sequenceNumber }} | EcoloCoach{% endblock %}

{% block content %}
    {% for part in event_parts %}
        {% if part.eventPartType.name == 'PICTURE' %}
            <img src="/{{ part.picturePath }}" alt="Illustration du cours">
        {% endif %}
        {% if part.eventPartType.name == 'QUESTION' %}
            <p>{{ part.question }}</p>
        {% endif %}
        {% if part.eventPartType.name == 'ANSWER' %}
            {% for answer in part.answers %}
                <button>{{ answer }}</button>
            {% endfor %}
        {% endif %}
        {% if part.eventPartType.name == 'TAG' %}
            <p>{{ part.tag }}</p>
        {% endif %}
        {% if part.eventPartType.name == 'LABEL' %}
            <p>{{ part.label }}</p>
        {% endif %}
        {% if part.eventPartType.name == 'DESCRIPTION' %}
            <p>{{ part.description }}</p>
        {% endif %}
    {% endfor %}
{% endblock %}
