{# TODO: ajouter la confirmation d'inscription par mail quand l'application sera utilisée #}

{% extends '_layouts/standard.html.twig' %}

{% block meta_description %}
    Crée ton compte EcoloCoach gratuitement et démarre ton aventure !
    Rejoins la communauté et relève tes premiers défis pour la planète.
{% endblock %}

{% block title %}Inscription | Ecolocoach{% endblock %}

{% block content %}
    <main class="auth-page-container">

        <a href="{{ path('home') }}" class="back-home">
            ← Retour à l'accueil
        </a>

        <div class="auth-card">
            <h1>Inscription</h1>

            {% if form_errors(registrationForm) %}
                <div class="auth-alert-error">
                    {{ form_errors(registrationForm) }}
                </div>
            {% endif %}

            {{ form_start(registrationForm, {'attr': {'class': 'auth-form'}}) }}

            <div class="form-group">
                {{ form_label(registrationForm.username, "Nom d'utilisateur") }}
                {{ form_widget(registrationForm.username,
                    {'attr': {'class': 'auth-input', 'placeholder': 'Ex : JasmineLake'}}) }}
                {{ form_errors(registrationForm.username) }}
            </div>

            <div class="form-group">
                {{ form_label(registrationForm.email, 'Email') }}
                {{ form_widget(registrationForm.email,
                    {'attr': {'class': 'auth-input', 'placeholder': 'jasmine.lake@email.fr'}}) }}
                {{ form_errors(registrationForm.email) }}
            </div>

            <div class="form-group">
                {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
                {{ form_widget(registrationForm.plainPassword,
                    {'attr': {'class': 'auth-input'}}) }}
                {{ form_errors(registrationForm.plainPassword) }}
            </div>

            <div class="form-group-checkbox">
                {{ form_widget(registrationForm.agreeTerms,
                    {'attr': {'class': 'auth-checkbox'}}) }}
                {{ form_label(registrationForm.agreeTerms, 'J\'accepte les conditions générales.') }}
                {{ form_errors(registrationForm.agreeTerms) }}
            </div>

            <button type="submit" class="btn-primary btn-primary-green">
                S'inscrire
            </button>

            <div class="register-section">
                <p>Déjà un compte ?</p>
                <a href="{{ path('app_login') }}" class="btn-secondary btn-secondary-green">
                    Se connecter
                </a>
            </div>
            {{ form_end(registrationForm) }}
        </div>
    </main>
{% endblock %}
