{% extends '_layouts/in_app.html.twig' %}

{% block title %}Mon impact | EcoloCoach{% endblock %}

{% block content %}
    <p>{{ app.user.co2Impact | format_co2 }} de co2 économisé !</p>
    {% if equivalent_impact %}
    <p>{{ equivalent_impact.icon }}</p>
    <p>{{ equivalent_impact.text }}</p>
    {% else %}
    <p>Réalise un défi pour comparer ton impact positif.</p>
    {% endif %}

    {% if message_encouragement and app.user.co2Impact > 0%}
    <p>{{ message_encouragement.content }}</p>
    {% endif %}

    <h3>Mes défis en cours</h3>
    {% for challenge in challenges_accepted %}
    <p>{{ challenge.event.co2Impact }}</p>
    <img src="{{  }}">

{% endblock %}
