{% extends '_layouts/in_app.html.twig' %}

{% block title %}Mon impact | EcoloCoach{% endblock %}
{% block header_title %}<h1>Mon impact</h1>{% endblock %}


{% block content %}
    <main class="impact-page-container">

        <section class="impact-stats-section"
                 aria-label="Statistiques d'impact">
            <div class="stat-card">
                <div class="stat-main">
                    <span class="stat-value">{{ app.user.co2Impact | format_co2 }}</span>
                    <span class="stat-label">de CO₂<br>économisés</span>
                </div>

                {% if equivalent_impact %}
                    <div class="stat-divider"></div>
                    <div class="stat-equivalent">
                        <div>
                            <span class="equivalent-text">{{ equivalent_impact.text }}</span>
                        </div>
                        <span class="equivalent-icon">{{ equivalent_impact.icon }}</span>
                    </div>
                {% endif %}
            </div>

            {% if message_encouragement and app.user.co2Impact > 0 %}
                <div class="encouragement-badge">
                    {{ message_encouragement.content }}
                </div>
            {% endif %}
        </section>

        <section class="ongoing-challenges-section">
            <h2 class="section-title">Mes défis en cours</h2>

            <div class="challenges-list">
                {% if challenges_accepted %}
                    {% for challenge in challenges_accepted %}
                        <div class="challenge-card">
                            <div class="challenge-image-container">
                                <span class="co2-tag">- {{ challenge.co2Impact | format_co2 }} CO<sub>2</sub></span>
                                <img src="{{ challenge.picture }}" alt="{{ challenge.picAlt }}">
                            </div>

                            <div class="challenge-content">
                                <h3>{{ challenge.title }}</h3>
                                <p>{{ challenge.description }}</p>

                                <button class="btn-read-more"
                                        data-url="{{ path('challenge_pop_up', {uid: challenge.uid}) }}">
                                    Voir plus ➔
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="empty-state">Continue dans le parcours pour débloquer des défis.</p>
                {% endif %}
            </div>

            <a href="{{ path('recap_challenges') }}" class="btn-primary btn-primary-green">
                Tous mes défis
            </a>
        </section>

        <dialog id="challenge-dialog" class="challenge-dialog">
        </dialog>

    </main>
{% endblock %}
