{% extends '_layouts/in_app.html.twig' %}

{% block title %}Mes défis | Ecolocoach{% endblock %}

{% block content %}
    <h2>Mes défis en cours</h2>
    {% if challenges_accepted %}
        {% for challenge in challenges_accepted %}
            <p>{{ challenge.co2Impact | format_co2}} co2</p>
            <img src="/{{ challenge.picture }}" alt="Représentation du défi">
            <p>{{ challenge.title }}</p>
            <p>{{ challenge.description }}</p>
        {% endfor %}
    {% else %}
        <p>Aucun défi en cours pour le moment. Continue dans le parcours pour débloquer des défis.</p>
    {% endif %}

    <h2>Mes défis terminés</h2>
    {% if challenges_finished %}
        {% for challenge in challenges_finished %}
            <p>{{ challenge.co2Impact | format_co2}} co2</p>
            <img src="/{{ challenge.picture }}" alt="Représentation du défi">
            <p>{{ challenge.title }}</p>
            <p>{{ challenge.description }}</p>
        {% endfor %}
    {% else %}
        <p>Aucun défi terminé pour le moment. Continue dans le parcours pour débloquer des défis.</p>
    {% endif %}

    <h2>Mes défis réfusés pour le moment</h2>
    {% if challenges_refused %}
        {% for challenge in challenges_refused %}
            <p>{{ challenge.co2Impact | format_co2}} co2</p>
            <img src="/{{ challenge.picture }}" alt="Représentation du défi">
            <p>{{ challenge.title }}</p>
            <p>{{ challenge.description }}</p>
        {% endfor %}
    {% else %}
        <p>Aucun défi refusé pour le moment. Félicitations, continue comme ça !</p>
    {% endif %}

{% endblock %}
