{% if progression is not null and progression.eventStatus.value == 'En cours' %}

    <form method="POST" action="{{ path('event_finished', {'uid': event.uid, 'eventStatus': 'Accepté'}) }}">
        <button type="submit">Accepter ce défi !</button>
    </form>

    <form method="POST" action="{{ path('event_finished', {'uid': event.uid, 'eventStatus': 'Refusé'}) }}">
        <button type="submit">Refuser pour l'instant</button>
    </form>

{% else %}
    <p>Statut du défi :
        <strong>{{ progression is not null ? progression.eventStatus.value : 'Non commencé' }}</strong>
    </p>

    <a href="{{ path('recap_challenges') }}">Tous les défis</a>

    <a href="{{ path('path') }}">Retour au parcours</a>
{% endif %}
