<button id="popup-close-btn" class="popup-close-btn" type="button">
    <img src="{{ asset('/uploads/icons/cross.svg') }}" alt="Fermer"/>
</button>

<div class="popup-inner-container">

    {% for part in event_parts %}
        {% if part.eventPartType.name == 'PICTURE' %}
            <img class="popup-top-picture" src="/{{ part.picturePath }}" alt="{{ part.picAlt }}">
        {% endif %}
    {% endfor %}

    <div class="popup-body-content">

        <div class="tags-group-container">
            {% for part in event_parts %}
                {% if part.eventPartType.name == 'TAG' %}
                    <span class="event-tag">{{ part.tag }}</span>
                {% endif %}
            {% endfor %}
        </div>

        {% for part in event_parts %}
            {% if part.eventPartType.name == 'LABEL' %}
                <h2 class="event-label">{{ part.label }}</h2>
            {% elseif part.eventPartType.name == 'DESCRIPTION' %}
                <p class="event-description">{{ part.description }}</p>

            {% elseif part.eventPartType.name == 'SUBTITLE' %}
                <div class="subgroup-card">
                <h3 class="event-label">{{ part.label }}</h3>
            {% elseif part.eventPartType.name == 'SUBDESCRIPTION' %}
                <p class="event-description">{{ part.description }}</p>
                </div>
            {% endif %}
        {% endfor %}

    </div>

    <div class="popup-footer-actions">
        {% include 'event/_event_components/_challenge_pop_up_actions.html.twig' %}
    </div>
</div>
