<header>
    <h1>{{ event.eventType.value|capitalize }} {{ event_number }}</h1>

    <a href="{{ path('path') }}" class="exit-menu-button">
        <img src="{{ asset("/uploads/icons/cross.svg") }}" alt="Fermer la leçon et revenir au parcours">
    </a>
</header>

{% if event.eventType.name == 'LESSON' %}
    {% if page_number > 1 %}
        <a href="{{ path('event', {'uid': event.uid, 'pageNumber': page_number - 1}) }}"
           class="back-page">
            ← Précédent
        </a>
    {% endif %}

    <div class="progress-container">
        <progress max="{{ total_pages }}" value="{{ page_number }}">Progression : {{ page_number }}
            /{{ total_pages }}</progress>
    </div>
{% endif %}
