{#TODO : mettre une liste et des li dans le menu burger#}

<nav>
    <span>EcoloCoach</span>
    <a href="{{ path('path') }}">
        Mon Parcours
    </a>
    <a href="{{ path('impact') }}">
        Mon Impact
    </a>
    <a href="{{ path('community') }}">
        Communauté
    </a>
    <a href="{{ path('profil') }}">
        Mon Profil
    </a>
    <span>{{ app.user.username }}</span>
    <a href="{{ path('app_logout') }}">
        Se déconnecter
    </a>
</nav>
